{
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "src/**/*.tsx",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
